###################################################################################################
#### This configuration file configures the timezone on each instance in the environment.
####
#### It begins by setting an environment property "TZ" to a timezone of your choosing. Have a look
#### in /usr/share/zoneinfo on any of the instances in your environment for all possible options.
#### Additionally this configuration file sets the same chosen timezone on the instance itself by
#### changing the "/etc/localtime" and "/etc/sysconfig/clock".
###################################################################################################

option_settings:
  aws:elasticbeanstalk:application:environment:
    TZ: 'UTC'

files:
  "/tmp/set_timezone.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      NEWTIMEZONE="$(/opt/elasticbeanstalk/bin/get-config environment -k TZ)"
      if [ -z $NEWTIMEZONE ] ; then
          echo "TZ" environment property not set
          exit 1
      fi
      if [ ! -f /usr/share/zoneinfo/$NEWTIMEZONE ] ; then
          echo /usr/share/zoneinfo/$NEWTIMEZONE does not exist
          exit 1
      fi
      echo 'ZONE="'$NEWTIMEZONE'"' > /etc/sysconfig/clock
      echo 'UTC=true' >> /etc/sysconfig/clock
      ln -f -s /usr/share/zoneinfo/$NEWTIMEZONE /etc/localtime
      sed -i "s|;*date.timezone =.*|date.timezone=$NEWTIMEZONE|i" /etc/php.ini
      ntpdate -u pool.ntp.org

commands:
  10_custom_timezone:
    command: '/tmp/set_timezone.sh'
