option_settings:
  aws:elasticbeanstalk:application:environment:
    COMPOSER_HOME: '/root'
    COMPOSER_ALLOW_SUPERUSER: '1'
  aws:elasticbeanstalk:container:php:phpini:
    composer_options: '--no-dev --optimize-autoloader'

commands:
  10_update_composer:
    command: 'export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update'

container_commands:
  10_optimize_autoload:
    command: '/usr/bin/composer.phar dump-autoload --optimize --no-dev'
