###################################################################################################
#### The following option sets an environment property that you can read in your application code.
#### Some environment variable be determined from the current region.
###################################################################################################
option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: '/public'

packages:
  yum:
    php71-bcmath: []
    php71-gd: []
    php71-intl: []
    php71-json: []
    php71-mbstring: []
    php71-mcrypt: []
    php71-mysqlnd: []
    php71-opcache: []
    php71-pdo: []
    php71-pecl-igbinary: []
    php71-pecl-redis: []
    php71-pecl-imagick: []
    php71-xml: []

commands:
  50_php_upload_max_filesize:
    command: 'sed -i "s|;*upload_max_filesize =.*|upload_max_filesize=10M|i" /etc/php-7.1.ini'
  51_php_max_file_uploads:
    command: 'sed -i "s|;*max_file_uploads =.*|max_file_uploads=20|i" /etc/php-7.1.ini'
  52_php_post_max_size:
    command: 'sed -i "s|;*post_max_size =.*|post_max_size=20M|i" /etc/php-7.1.ini'
  53_php_expose_php:
    command: 'sed -i "s|;*expose_php=.*|expose_php=0|i" /etc/php-7.1.ini'
