###################################################################################################
#### The following option sets an environment property that you can read in your application code.
#### Some environment variable be determined from the current region.
###################################################################################################
option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: '/public'
